
<body class="imgs">
    <div class="row jusify-content-center" *ngIf="isAuth == false">
        <div class="col">
            <div class="alert alert-danger alert-with-icon" data-notify="container">
                <i class="material-icons" data-notify="icon">add_alert</i>
                <span data-notify="message">{{ alertMess }}</span>
            </div>
        </div>
    </div>
    <div class="row jusify-content-center" *ngIf="isSignUp == false">
        <div class="col">
            <div class="alert alert-danger alert-with-icon" data-notify="container">
                <i class="material-icons" data-notify="icon">add_alert</i>
                <span data-notify="message">Echec de l'inscription</span>
            </div>
        </div>
    </div>
    <div class="boxmarge">
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form #inscriptionForm=ngForm action="#">
                    <h2> Inscription </h2>
                    <input type="text" placeholder="Nom" [(ngModel)]="operateur.nom" name="nom" required/>
                    <input type="text" placeholder="Prenom" [(ngModel)]="operateur.prenom" name="prenom" required/>
                    <input type="email" placeholder="Email" [(ngModel)]="operateur.email" name="email" required/>
                    <input type="password" placeholder="Password" [(ngModel)]="operateur.password" name="password" required/>
                    <button type="button" [disabled]=!inscriptionForm.valid (click)="onSignUp()" class="btn btn-success">S'Inscrire</button>

                    Le succès est un chemin que la patience et le travail rendent accessible
                </form>
            </div>
            <div class="form-container sign-in-container">
                
                <form #connexionForm=ngForm action="#">
                    <h2>Authentification</h2>
                    <input type="email" placeholder="Email" [(ngModel)]="operateur.email" name="email"/>
                    <input type="password" placeholder="Password" [(ngModel)]="operateur.password" name="password"/>
                    <a href="#">Forgot your password?</a>
                    <button type="button" [disabled]=!connexionForm.valid (click)="onSignIn()" class="btn btn-success">Connexion</button>

                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <button class="ghost" id="signIn" >Se Connecter</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <p>Pour S'inscrire Clicker sur le bouton ci-desous</p>
                        <button class="ghost" id="signUp">Inscription</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
        
</body>
