<div class="main-content">
    <div class="container-fluid">
       <!-- Modal afficher input -->
       <div class="modal fade" id="afficheModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content text-width" >
            <div class="modal-body">

              <div class="container">
                  <div class="row">
                    <div class="col" style="background-color: #e9ecef; padding: 10px;">
                      <h3 align="center">Detail</h3>
                    </div>
                  </div>
                
                  <!-- detail a afficher su un elements -->
                  <div class="row">
                    <div class="col" style="padding: 10px; font-size: large;">
                      <div class="row">
                        <div class="col-sm-4">Id INTRANT</div>
                        <div class="col-sm-8">: {{ inputEdite.id }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">ID INTRANT TYPE</div>
                        <div class="col-sm-8">: {{ inputEdite.inputtypeid }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">UNITE</div>
                        <div class="col-sm-8">: {{ inputEdite.unit }}</div>
                      </div>
                      
                      <div class="row">
                        <div class="col-sm-4">Nom FR</div>
                        <div class="col-sm-8">: {{ inputEdite.namefr }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">Nom EN</div>
                        <div class="col-sm-8">: {{ inputEdite.nameen }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">Nom PT</div>
                        <div class="col-sm-8">: {{ inputEdite.namept }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">Active</div>
                        <div class="col-sm-8">: {{ inputEdite.active }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">Date</div>
                        <div class="col-sm-8">: {{ inputEdite.dates }}</div>
                      </div>

                    </div>
                  </div>
                  
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" >OK</button>
            </div>
        </div>
        </div>
      </div>
    <!-- fin modal Afficher element -->

      <!-- Modal edit element -->
      <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Intrant</h5>
            </div>
            <div class="modal-body">
                <form #inputEditeForm=ngForm>
                    <div class="row">
                        <div class="col-md-4" >
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Intrant ID" [(ngModel)]="inputEdite.id" name="Id">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4" >
                            <mat-form-field class="example-full-width"  >
                             
                              <mat-label >Intrant Type</mat-label>
                              <select  matNativeControl [(ngModel)]="inputEdite.inputtypeid" name="inputTypeId" required>
                                <option *ngFor="let inputType of inputTypeList" value="{{inputType.inputtypeid}}">{{inputType.name_FR}}</option>
                              </select>
                             
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field class="example-full-width"  >
                             
                                <mat-label >Unit</mat-label>
                                <select  matNativeControl [(ngModel)]="inputEdite.unit" name="unit" required>
                                    <option *ngFor="let unite of uniteList" value="{{unite.unitid}}">{{unite.namefr}}</option>
                                  </select>
                             
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nom FR" [(ngModel)]="inputEdite.namefr" name="namefr" required>
                                </mat-form-field>
                            </div>
                        
                            <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nom EN" [(ngModel)]="inputEdite.nameen" name="nameen" required>
                                </mat-form-field>
                            </div>
                        
                            <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nom PT" [(ngModel)]="inputEdite.namept" name="namept" required>
                                </mat-form-field>
                            </div>
                    </div>
                    
                </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" >Fermer</button>
            <button type="button" class="btn btn-primary" [disabled]=!inputEditeForm.valid (click)="onSaveEdite()" data-bs-toggle="modal" data-bs-target="#operationModal" data-bs-dismiss="modal">Modiffier</button>
          </div>
        </div>
        </div>
    </div>
    <!-- fin modal -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <h2 align="center" class="titre-tableau">FORMULAIRE PAYS</h2>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-10 boxRecherche">
                                <div class="row ">
                                    <div class="col">
                                        <form #inputForm=ngForm>
                                            <div class="row">
                                                <div class="col-md-4" >
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Intrant ID" [(ngModel)]="input.id" name="inputId">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-4" >
                                                    <mat-form-field class="example-full-width"  >
                                                     
                                                      <mat-label >Unite de mesure</mat-label>
                                                      <select  matNativeControl [(ngModel)]="input.unit" name="unit" required>
                                                        <option *ngFor="let unite of uniteList" value="{{unite.inputtypeid}}">{{unite.name_FR}}</option>
                                                      </select>
                                                     
                                                    </mat-form-field>
                                                </div>
                        
                                                <div class="col-md-4">
                                                    <mat-form-field class="example-full-width"  >
                                                     
                                                        <mat-label >Unit</mat-label>
                                                        <select  matNativeControl [(ngModel)]="input.inputtypeid" name="inputTypeId" required>
                                                            <option *ngFor="let inputType of inputTypeList" value="{{inputType.inputtypeid}}">{{inputType.name_FR}}</option>
                                                          </select>
                                                     
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Nom FR" [(ngModel)]="input.namefr" name="namefr" required>
                                                        </mat-form-field>
                                                    </div>
                                                
                                                    <div class="col-md-4">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Nom EN" [(ngModel)]="input.nameen" name="nameen" required>
                                                        </mat-form-field>
                                                    </div>
                                                
                                                    <div class="col-md-4">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Nom PT" [(ngModel)]="input.namept" name="namept" required>
                                                        </mat-form-field>
                                                    </div>
                                            </div>
                        

                                            <button mat-raised-button type="submit" class="btn btn-success pull-right" [disabled]=!inputForm.valid (click)="onSave()">Enregistrer</button>                                            
                                            <button mat-raised-button type="reset" class="btn btn-danger pull-right">Effacer</button>                                            

                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="card-body">
                        <mat-label class="search-label">Recherche Globale</mat-label>
                        <input type="text" class="form-control inputRecherche" (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input><br>
                        <div class="table-responsive">
                              <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort class="table">
                              
                                  <!-- ID Column -->
                                  <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID-INTRANT </th>
                                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                                  </ng-container>
                              
                                  <!-- Pays Column -->
                                  <ng-container matColumnDef="inputtypeid">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> INTRANT-TYPE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.inputtypeid}} </td>
                                  </ng-container>
                              
                                  <!-- Capitale Column -->
                                  <ng-container matColumnDef="namefr">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom EN </th>
                                    <td mat-cell *matCellDef="let row"> {{row.namefr}} </td>
                                  </ng-container>
                              
                                  <!-- superficie Column -->
                                  <ng-container matColumnDef="nameen">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom FR </th>
                                    <td mat-cell *matCellDef="let row"> {{row.nameen}} </td>
                                  </ng-container>

                                  <!-- Population Column -->
                                  <ng-container matColumnDef="namept">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mom PT </th>
                                    <td mat-cell *matCellDef="let row"> {{row.namept}} </td>
                                  </ng-container>

                                  <!-- Indicatif Column -->
                                  <ng-container matColumnDef="unit">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> UNITE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.unit}} </td>
                                  </ng-container>


                                  <!-- Population Column -->
                                  <ng-container matColumnDef="active">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
                                    <td mat-cell *matCellDef="let row"> {{row.active}} </td>
                                  </ng-container>

                                  <!-- Population Column -->
                                  <ng-container matColumnDef="dates">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Dates </th>
                                    <td mat-cell *matCellDef="let row"> {{row.dates}} </td>
                                  </ng-container>

                                  <!-- Star Column -->
                                  <ng-container matColumnDef="star" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let row">
                                      <button mat-icon-button color="primary" [matMenuTriggerFor]="menuOption" aria-label="Option de la ligne selectionne">
                                        <mat-icon>more_vert</mat-icon>
                                      </button>
                                      <mat-menu #menuOption="matMenu">
                                        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#afficheModal" (click)="onEdite(row.id)">
                                          <mat-icon>description</mat-icon>
                                          <span>Afficher</span>
                                        </button>
                                        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#myModal" (click)="onEdite(row.id)">
                                          <mat-icon>app_registration</mat-icon>
                                          <span>Modifier</span>
                                        </button>
                                      </mat-menu>
                                    </td>
                                  </ng-container>
                              
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              
                                  <!-- Row shown when there is no matching data. -->
                                  <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                  </tr>
                                </table>
                              
                                <mat-paginator [pnamefrSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                              </div>
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  