<div class="main-content">
    <div class="container-fluid">
       <!-- Modal afficher periodiciteEnquette -->
       <div class="modal fade" id="afficheModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content text-width" >
            <div class="modal-body">

              <div class="container">
                  <div class="row">
                    <div class="col" style="background-color: #e9ecef; padding: 10px;">
                      <h3 align="center">Detail</h3>
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col" style="padding: 10px; font-size: large;">
                      <div class="row">
                        <div class="col-sm-4">periodicityofsurveyId</div>
                        <div class="col-sm-8">: {{ periodiciteEnquetteEdite.periodicityofsurveyId }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">Freguency</div>
                        <div class="col-sm-8">: {{ periodiciteEnquetteEdite.Freguency }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">Nom FR</div>
                        <div class="col-sm-8">: {{ periodiciteEnquetteEdite.Name_FR }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">Nom EN</div>
                        <div class="col-sm-8">: {{ periodiciteEnquetteEdite.Name_EN }}</div>
                      </div>
                      
                      <div class="row">
                        <div class="col-sm-4">Nom PT</div>
                        <div class="col-sm-8">: {{ periodiciteEnquetteEdite.Name_PT }}</div>
                      </div>
                    </div>
                  </div>
                  
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" >OK</button>
            </div>
        </div>
        </div>
      </div>
    <!-- fin modal Afficher element -->

      <!-- Modal edit element -->
      <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">PERIODICITE MARCHE</h5>
            </div>
            <div class="modal-body">
              <form #periodiciteEnquetteEditeForm=ngForm>
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="ID" [(ngModel)]="periodiciteEnquetteEdite.periodicityofsurveyId" name="periodicityofsurveyId" required>
                      </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Freguency" [(ngModel)]="periodiciteEnquetteEdite.Freguency" name="Freguency" required>
                      </mat-form-field>
                  </div>
              </div>
            
              <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nom FR" type="text" [(ngModel)]="periodiciteEnquetteEdite.Name_FR" name="Name_FR" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nom EN" type="text" [(ngModel)]="periodiciteEnquetteEdite.Name_EN" name="Name_EN" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nom PT" type="text" [(ngModel)]="periodiciteEnquetteEdite.Name_PT" name="Name_PT" required>
                      </mat-form-field>
                    </div>
              </div>
                
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" >Fermer</button>
            <button type="button" class="btn btn-primary" [disabled]=!periodiciteEnquetteEditeForm.valid (click)="onSaveEdite()" data-bs-toggle="modal" data-bs-target="#operationModal" data-bs-dismiss="modal">Modiffier</button>
          </div>
        </div>
        </div>
    </div>
    <!-- fin modal -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <h2 align="center" class="titre-tableau">FORMULAIRE PERIODICITE MARCHE</h2>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-10 boxRecherche">
                                <div class="row ">
                                    <div class="col">
                                        <form #periodiciteEnquetteForm=ngForm>
                                            <div class="row">
                                                <div class="col-md-3">
                                                  <mat-form-field class="example-full-width">
                                                      <input matInput placeholder="periodicityofsurveyId" [(ngModel)]="periodiciteEnquette.periodicityofsurveyId" name="periodicityofsurveyId" required>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-3">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Freguency" [(ngModel)]="periodiciteEnquette.Freguency" name="Freguency" required>
                                                      </mat-form-field>
                                                  </div>
                                                
                                            </div>
                                          
                                            <div class="row">
                                                <div class="col-md-4">
                                                  <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Nom FR" type="text" [(ngModel)]="periodiciteEnquette.Name_FR" name="Name_FR" required>
                                                  </mat-form-field>
                                                </div>
                                                <div class="col-md-4">
                                                  <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Nom EN" type="text" [(ngModel)]="periodiciteEnquette.Name_EN" name="Name_EN" required>
                                                  </mat-form-field>
                                                </div>
                                                <div class="col-md-4">
                                                    <mat-form-field class="example-full-width">
                                                      <input matInput placeholder="Nom PT" type="text" [(ngModel)]="periodiciteEnquette.Name_PT" name="Name_PT" required>
                                                    </mat-form-field>
                                                  </div>
                                            </div>
                                            
                                            <button mat-raised-button type="submit" class="btn btn-success pull-right" [disabled]=!periodiciteEnquetteForm.valid (click)="onSave()">Enregistrer</button>                                            
                                            <button mat-raised-button type="reset" class="btn btn-danger pull-right">Effacer</button>                                            

                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="card-body">
                        <mat-label class="search-label">Recherche Globale</mat-label>
                        <input type="text" class="form-control inputRecherche" (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input><br>
                        <div class="table-responsive">
                              <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort class="table">
                              
                                  <!-- periodicityofsurveyId Column -->
                                  <ng-container matColumnDef="periodicityofsurveyId">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID-PERIODICITE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.periodicityofsurveyId}} </td>
                                  </ng-container>

                                  <!-- periodicityofsurveyId Column -->
                                  <ng-container matColumnDef="Freguency">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> FREQUENCE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.Freguency}} </td>
                                  </ng-container>
                              
                                  <!-- Name_FR Column -->
                                  <ng-container matColumnDef="Name_FR">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom FR </th>
                                    <td mat-cell *matCellDef="let row"> {{row.Name_FR}} </td>
                                  </ng-container>
                              
                                  <!-- Name_EN Column -->
                                  <ng-container matColumnDef="Name_EN">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom EN </th>
                                    <td mat-cell *matCellDef="let row"> {{row.Name_EN}} </td>
                                  </ng-container>
                              
                                  <!-- Name_PT Column -->
                                  <ng-container matColumnDef="Name_PT">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom PT </th>
                                    <td mat-cell *matCellDef="let row"> {{row.Name_PT}} </td>
                                  </ng-container>

                                  <!-- Star Column -->
                                  <ng-container matColumnDef="star" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let row">
                                      <button mat-icon-button color="primary" [matMenuTriggerFor]="menuOption" aria-label="Option de la ligne selectionne">
                                        <mat-icon>more_vert</mat-icon>
                                      </button>
                                      <mat-menu #menuOption="matMenu">
                                        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#afficheModal" (click)="onEdite(row.periodicityofsurveyId)">
                                          <mat-icon>description</mat-icon>
                                          <span>Afficher</span>
                                        </button>
                                        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#myModal" (click)="onEdite(row.periodicityofsurveyId)">
                                          <mat-icon>app_registration</mat-icon>
                                          <span>Modifier</span>
                                        </button>
                                      </mat-menu>
                                    </td>
                                  </ng-container>
                              
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              
                                  <!-- Row shown when there is no matching data. -->
                                  <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                  </tr>
                                </table>
                              
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                              </div>
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  