<div class="main-content">
    <div class="container-fluid">
       <!-- Modal afficher offre -->
       <div class="modal fade" id="afficheModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content text-width" >
            <div class="modal-body">

              <div class="container">
                  <div class="row">
                    <div class="col" style="background-color: #e9ecef; padding: 10px;">
                      <h3 align="center">DETAIL</h3>
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col" style="padding: 10px; font-size: large;">
                      <div class="row">
                        <div class="col-sm-4">Id-Offre</div>
                        <div class="col-sm-8">: {{ offreEdite.id }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">Date-Cre</div>
                        <div class="col-sm-8">: {{ offreEdite.datecre }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">Date-Maj</div>
                        <div class="col-sm-8">: {{ offreEdite.datemaj }}</div>
                      </div>
                      
                      <div class="row">
                        <div class="col-sm-4">Op-Cre</div>
                        <div class="col-sm-8">: {{ offreEdite.opcre }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">Op-Maj</div>
                        <div class="col-sm-8">: {{ offreEdite.opmaj }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">Libelle</div>
                        <div class="col-sm-8">: {{ offreEdite.libelle_offre }}</div>
                      </div>
                      
                      <div class="row">
                        <div class="col-sm-4">Type</div>
                        <div class="col-sm-8">: {{ offreEdite.typeoffre }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">Produit</div>
                        <div class="col-sm-8">: {{ offreEdite.idproduit }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">Type-an</div>
                        <div class="col-sm-8">: {{ offreEdite.idtypean }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">Qte-Offre</div>
                        <div class="col-sm-8">: {{ offreEdite.qteoffre }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">Prix</div>
                        <div class="col-sm-8">: {{ offreEdite.prixoffre }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">Valide</div>
                        <div class="col-sm-8">: {{ offreEdite.valide }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">Conclus</div>
                        <div class="col-sm-8">: {{ offreEdite.conclus }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">Date-Offre</div>
                        <div class="col-sm-8">: {{ offreEdite.dateoffre }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">Date-Val</div>
                        <div class="col-sm-8">: {{ offreEdite.dateval }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">Coordx</div>
                        <div class="col-sm-8">: {{ offreEdite.coordx }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">Coordy</div>
                        <div class="col-sm-8">: {{ offreEdite.coordy }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">Acteur</div>
                        <div class="col-sm-8">: {{ offreEdite.idacteur }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">Unite-M</div>
                        <div class="col-sm-8">: {{ offreEdite.idunit }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">Statut</div>
                        <div class="col-sm-8">: {{ offreEdite.statut }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">Code-Dev</div>
                        <div class="col-sm-8">: {{ offreEdite.codedev }}</div>
                      </div>

                    </div>
                  </div>
                  
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" >OK</button>
            </div>
        </div>
        </div>
      </div>
    <!-- fin modal Afficher element -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <h2 align="center" class="titre-tableau">LISTE DES OFFRES DE D'ACHAT</h2>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <mat-label class="search-label">Recherche Globale</mat-label>
                        <input type="text" class="form-control inputRecherche" (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input><br>
                        <div class="table-responsive">
                              <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort class="table">
                              
                                  <!-- ID Column -->
                                  <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID-OFFRE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                                  </ng-container>
                              
                                  <!-- Pays Column -->
                                  <ng-container matColumnDef="datecre">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE-CRE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.datecre}} </td>
                                  </ng-container>
                              
                                  <!-- Capitale Column -->
                                  <ng-container matColumnDef="datemaj">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE-MAJ </th>
                                    <td mat-cell *matCellDef="let row"> {{row.datemaj}} </td>
                                  </ng-container>
                              
                                  <!-- superficie Column -->
                                  <ng-container matColumnDef="opcre">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> OP-CRE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.opcre}} </td>
                                  </ng-container>

                                  <!-- Population Column -->
                                  <ng-container matColumnDef="opmaj">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> OP-MAJ </th>
                                    <td mat-cell *matCellDef="let row"> {{row.opmaj}} </td>
                                  </ng-container>

                                  <!-- Indicatif Column -->
                                  <ng-container matColumnDef="libelle_offre">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>LIBELLE</th>
                                    <td mat-cell *matCellDef="let row"> {{row.libelle_offre}} </td>
                                  </ng-container>

                                  <!-- Devise Column -->
                                  <ng-container matColumnDef="typeoffre">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TYPE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.typeoffre}} </td>
                                  </ng-container>

                                  <!-- Offre Column -->
                                  <ng-container matColumnDef="idproduit">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PRODUIT </th>
                                    <td mat-cell *matCellDef="let row"> {{row.idproduit}} </td>
                                  </ng-container>

                                  <!-- Offre Column -->
                                  <ng-container matColumnDef="idtypean">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TYPE-AN </th>
                                    <td mat-cell *matCellDef="let row"> {{row.idtypean}} </td>
                                  </ng-container>

                                  <!-- Offre Column -->
                                  <ng-container matColumnDef="qteoffre">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> QTE-OFFRE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.qteoffre}} </td>
                                  </ng-container>

                                  <!-- Offre Column -->
                                  <ng-container matColumnDef="prixoffre">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PRIX </th>
                                    <td mat-cell *matCellDef="let row"> {{row.prixoffre}} </td>
                                  </ng-container>

                                  <!-- Offre Column -->
                                  <ng-container matColumnDef="valide">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> VALIDE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.valide}} </td>
                                  </ng-container>

                                  <!-- Offre Column -->
                                  <ng-container matColumnDef="conclus">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CONCLUS </th>
                                    <td mat-cell *matCellDef="let row"> {{row.conclus}} </td>
                                  </ng-container>

                                  <!-- Offre Column -->
                                  <ng-container matColumnDef="dateoffre">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE-OFFRE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.dateoffre}} </td>
                                  </ng-container>

                                  <!-- Offre Column -->
                                  <ng-container matColumnDef="dateval">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE-VAL </th>
                                    <td mat-cell *matCellDef="let row"> {{row.dateval}} </td>
                                  </ng-container>

                                  <!-- Offre Column -->
                                  <ng-container matColumnDef="coordx">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> COORD-X </th>
                                    <td mat-cell *matCellDef="let row"> {{row.coordx}} </td>
                                  </ng-container>

                                  <!-- Offre Column -->
                                  <ng-container matColumnDef="coordy">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> COORD-Y </th>
                                    <td mat-cell *matCellDef="let row"> {{row.coordy}} </td>
                                  </ng-container>

                                  <!-- Offre Column -->
                                  <ng-container matColumnDef="idacteur">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTEUR </th>
                                    <td mat-cell *matCellDef="let row"> {{row.idacteur}} </td>
                                  </ng-container>

                                  <!-- Offre Column -->
                                  <ng-container matColumnDef="photo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PHOTO </th>
                                    <td mat-cell *matCellDef="let row"> {{row.photo}} </td>
                                  </ng-container>

                                  <!-- Offre Column -->
                                  <ng-container matColumnDef="idunit">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> UNITE-M </th>
                                    <td mat-cell *matCellDef="let row"> {{row.idunit}} </td>
                                  </ng-container>

                                  <!-- Offre Column -->
                                  <ng-container matColumnDef="statut">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> STATUT </th>
                                    <td mat-cell *matCellDef="let row"> {{row.statut}} </td>
                                  </ng-container>

                                  <!-- Offre Column -->
                                  <ng-container matColumnDef="codedev">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CODE-DEV </th>
                                    <td mat-cell *matCellDef="let row"> {{row.codedev}} </td>
                                  </ng-container>

                                  <!-- Star Column -->
                                  <ng-container matColumnDef="star" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let row">
                                      <button mat-icon-button color="primary" [matMenuTriggerFor]="menuOption" aria-label="Option de la ligne selectionne">
                                        <mat-icon>more_vert</mat-icon>
                                      </button>
                                      <mat-menu #menuOption="matMenu">
                                        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#afficheModal" (click)="onEdite(row.id)">
                                          <mat-icon>opcre</mat-icon>
                                          <span>Afficher</span>
                                        </button>
                                      </mat-menu>
                                    </td>
                                  </ng-container>
                              
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              
                                  <!-- Row shown when there is no matching data. -->
                                  <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                  </tr>
                                </table>
                              
                                <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                              </div>
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>