<div class="main-content">
    <div class="container-fluid">
       <!-- Modal afficher sim -->
       <div class="modal fade" id="afficheModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content text-width" >
            <div class="modal-body">

              <div class="container">
                  <div class="row">
                    <div class="col" style="background-color: #e9ecef; padding: 10px;">
                      <h3 align="center">Detail</h3>
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col" style="padding: 10px; font-size: large;">
                      <div class="row">
                        <div class="col-sm-4">Id SIM</div>
                        <div class="col-sm-8">: {{ simEdite.simID }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">PAYS</div>
                        <div class="col-sm-8">: {{ simEdite.idPays }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">NOM SIM</div>
                        <div class="col-sm-8">: {{ simEdite.nom_sim }}</div>
                      </div>
                      
                      <div class="row">
                        <div class="col-sm-4">DESIGNATION</div>
                        <div class="col-sm-8">: {{ simEdite.description }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">SIM-TYPE</div>
                        <div class="col-sm-8">: {{ simEdite.sim_type }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">TELEPHONE</div>
                        <div class="col-sm-8">: {{ simEdite.sim_tel }}</div>
                      </div>
                      
                      <div class="row">
                        <div class="col-sm-4">SIM-DP</div>
                        <div class="col-sm-8">: {{ simEdite.sim_dp }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">MAIL</div>
                        <div class="col-sm-8">: {{ simEdite.sim_mel }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">SITE WEB</div>
                        <div class="col-sm-8">: {{ simEdite.sim_webdite }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">CONTACT</div>
                        <div class="col-sm-8">: {{ simEdite.contact }}</div>
                      </div>
                    </div>
                  </div>
                  
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" >OK</button>
            </div>
        </div>
        </div>
      </div>
    <!-- fin modal Afficher element -->

      <!-- Modal edit element -->
      <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">GESTION SIM</h5>
            </div>
            <div class="modal-body">
              <form #simEditeForm=ngForm>
                  <div class="row">
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="ID " [(ngModel)]="simEdite.simID" name="simID" required>
                          </mat-form-field>
                      </div>
                      <div class="col-md-5">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Pays" [(ngModel)]="simEdite.idPays" name="idPays" required>
                          </mat-form-field>
                      </div>
                      <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nom SIM " [(ngModel)]="simEdite.nom_sim" name="nom_sim" required>
                          </mat-form-field>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Description " [(ngModel)]="simEdite.description" name="description" required>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="SIM Type " [(ngModel)]="simEdite.sim_type" name="sim_type" required>
                        </mat-form-field>
                      </div>
                  </div>
                
                  <div class="row">
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Telephone " [(ngModel)]="simEdite.sim_tel" name="sim_tel" required>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Sim DP " [(ngModel)]="simEdite.sim_bp" name="sim_bp" required>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="E-Mail " [(ngModel)]="simEdite.sim_mel" name="sim_mel" required>
                          </mat-form-field>
                        </div>

            
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Site Web " [(ngModel)]="simEdite.sim_webdite" name="sim_webdite" >
                      </mat-form-field>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="contact" [(ngModel)]="simEdite.contact" name="contact" required>
                      </mat-form-field>
                    </div>
                  </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" >Fermer</button>
            <button type="button" class="btn btn-primary" [disabled]=!simEditeForm.valid (click)="onSaveEdite()" data-bs-toggle="modal" data-bs-target="#operationModal" data-bs-dismiss="modal">Modiffier</button>
          </div>
        </div>
        </div>
    </div>
    <!-- fin modal -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <h2 align="center" class="titre-tableau">FORMULAIRE PAYS</h2>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-10 boxRecherche">
                                <div class="row ">
                                    <div class="col">
                                        <form #simForm=ngForm>
                                            <div class="row">
                                                <div class="col-md-3">
                                                  <mat-form-field class="example-full-width">
                                                      <input matInput placeholder="Id SIM " [(ngModel)]="sim.simID" name="simID" required>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-5">
                                                    <mat-form-field class="example-full-width">
                                                      <input matInput placeholder="Pays" [(ngModel)]="sim.idPays" name="idPays" required>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-4">
                                                    <mat-form-field class="example-full-width">
                                                      <input matInput placeholder="Nom du SIM" [(ngModel)]="sim.nom_sim" name="nom_sim" required>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                
                                            <div class="row">
                                                <div class="col-md-6">
                                                  <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Description" [(ngModel)]="sim.description" name="description" required>
                                                  </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                  <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Type SIM" [(ngModel)]="sim.sim_type" name="sim_type" required>
                                                  </mat-form-field>
                                                </div>
                                            </div>
                                          
                                            <div class="row">
                                                <div class="col-md-4">
                                                  <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Telephone" type="text" [(ngModel)]="sim.sim_tel" name="sim_tel" required>
                                                  </mat-form-field>
                                                </div>
                                                <div class="col-md-4">
                                                  <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Sim dp" type="text" [(ngModel)]="sim.sim_bp" name="sim_bp" required>
                                                  </mat-form-field>
                                                </div>
                                                <div class="col-md-4">
                                                    <mat-form-field class="example-full-width">
                                                      <input matInput placeholder="E-mail" type="text" [(ngModel)]="sim.sim_mel" name="sim_mel" required>
                                                    </mat-form-field>
                                                  </div>

                                      
                                            </div>

                                            <div class="row">
                                              <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Site web" type="text" [(ngModel)]="sim.sim_webdite" name="sim_webdite" >
                                                </mat-form-field>
                                              </div>

                                              <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="contact" type="text" [(ngModel)]="sim.contact" name="contact" required>
                                                </mat-form-field>
                                              </div>
                                            </div>
                                            
                                            <button mat-raised-button type="submit" class="btn btn-success pull-right" [disabled]=!simForm.valid (click)="onSave()">Enregistrer</button>                                            
                                            <button mat-raised-button type="reset" class="btn btn-danger pull-right">Effacer</button>                                            

                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="card-body">
                        <mat-label class="search-label">Recherche Globale</mat-label>
                        <input type="text" class="form-control inputRecherche" (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input><br>
                        <div class="table-responsive">
                              <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort class="table">
                              
                                  <!-- ID Column -->
                                  <ng-container matColumnDef="simID">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID-SIM </th>
                                    <td mat-cell *matCellDef="let row"> {{row.simID}} </td>
                                  </ng-container>
                              
                                  <!-- Pays Column -->
                                  <ng-container matColumnDef="idPays">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PAYS </th>
                                    <td mat-cell *matCellDef="let row"> {{row.idPays}} </td>
                                  </ng-container>
                              
                                  <!-- Capitale Column -->
                                  <ng-container matColumnDef="nom_sim">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> NOM SIM </th>
                                    <td mat-cell *matCellDef="let row"> {{row.nom_sim}} </td>
                                  </ng-container>
                              
                                  <!-- superficie Column -->
                                  <ng-container matColumnDef="description">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPTION </th>
                                    <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                                  </ng-container>

                                  <!-- Population Column -->
                                  <ng-container matColumnDef="sim_type">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SIM-TYPE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.sim_type}} </td>
                                  </ng-container>

                                  <!-- Indicatif Column -->
                                  <ng-container matColumnDef="sim_tel">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SIM-TEL </th>
                                    <td mat-cell *matCellDef="let row"> {{row.sim_tel}} </td>
                                  </ng-container>

                                  <!-- Devise Column -->
                                  <ng-container matColumnDef="sim_bp">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SIM-DP </th>
                                    <td mat-cell *matCellDef="let row"> {{row.sim_bp}} </td>
                                  </ng-container>

                                  <!-- Sim Column -->
                                  <ng-container matColumnDef="sim_mel">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> MAIL </th>
                                    <td mat-cell *matCellDef="let row"> {{row.sim_mel}} </td>
                                  </ng-container>

                                  <!-- Sim Column -->
                                  <ng-container matColumnDef="sim_webdite">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SITE-WEB </th>
                                    <td mat-cell *matCellDef="let row"> {{row.sim_webdite}} </td>
                                  </ng-container>

                                  <!-- Sim Column -->
                                  <ng-container matColumnDef="contact">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CONTACT </th>
                                    <td mat-cell *matCellDef="let row"> {{row.contact}} </td>
                                  </ng-container>

                                  <!-- Star Column -->
                                  <ng-container matColumnDef="star" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let row">
                                      <button mat-icon-button color="primary" [matMenuTriggerFor]="menuOption" aria-label="Option de la ligne selectionne">
                                        <mat-icon>more_vert</mat-icon>
                                      </button>
                                      <mat-menu #menuOption="matMenu">
                                        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#afficheModal" (click)="onEdite(row.simID)">
                                          <mat-icon>description</mat-icon>
                                          <span>Afficher</span>
                                        </button>
                                        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#myModal" (click)="onEdite(row.simID)">
                                          <mat-icon>app_registration</mat-icon>
                                          <span>Modifier</span>
                                        </button>
                                      </mat-menu>
                                    </td>
                                  </ng-container>
                              
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              
                                  <!-- Row shown when there is no matching data. -->
                                  <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                  </tr>
                                </table>
                              
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                              </div>
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  