<div class="main-content">
    <div class="container-fluid">
       <!-- Modal afficher niveau2 -->
       <div class="modal fade" id="afficheModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content text-width" >
            <div class="modal-body">
  
              <div class="container">
                  <div class="row">
                    <div class="col" style="background-color: #e9ecef; padding: 10px;">
                      <h3 align="center">Detail</h3>
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col" style="padding: 10px; font-size: large;">
  
                      <div class="row">
                        <div class="col-sm-4">ID</div>
                        <div class="col-sm-8">: {{ niveau2Edite.id_al2 }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">LIBELLE</div>
                        <div class="col-sm-8">: {{ niveau2Edite.libelle_al2 }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">Niveau 1</div>
                        <div class="col-sm-8">: {{ niveau2Edite.id_al1 }}</div>
                      </div>

                    </div>
                  </div>
                  
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" >OK</button>
            </div>
        </div>
        </div>
      </div>
    <!-- fin modal Afficher element -->
  
      <!-- Modal edit element -->
      <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Niveau2</h5>
            </div>
            <div class="modal-body">
              <form #niveau2EditeForm=ngForm>
                <div class="row">

                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Niveau2" [(ngModel)]="niveau2Edite.id_al2" name="id_al2" required>
                        </mat-form-field>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="Level" [(ngModel)]="niveau2Edite.libelle_al2" name="libelle_al2" required>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          
                          <mat-label >Niveau 1</mat-label>
                          <select  matNativeControl [(ngModel)]="niveau2Edite.id_al1" name="id_al1" required>
                            <option *ngFor="let niveau1 of niveau1List" value="{{niveau1.id_al1}}">{{pays.libelle_al1}}</option>
                          </select>
  
                        </mat-form-field>
                      </div>
                </div>
  
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" >Fermer</button>
            <button type="button" class="btn btn-primary" [disabled]=!niveau2EditeForm.valid (click)="onSaveEdite()" data-bs-toggle="modal" data-bs-target="#operationModal" data-bs-dismiss="modal">Modiffier</button>
          </div>
        </div>
        </div>
    </div>
    <!-- fin modal -->
  
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <h2 align="center" class="titre-tableau">FORMULAIRE ADMIN NIVEAU 1</h2>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-10 boxRecherche">
                                <div class="row ">
                                    <div class="col">
                                        <form #niveau2Form=ngForm>
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                      <input matInput placeholder="niveau2" [(ngModel)]="niveau2.id_al2" name="id_al2" required>
                                                    </mat-form-field>
                                                </div>
                            
                                                <div class="col-md-4">
                                                  <mat-form-field class="example-full-width">
                                                      <input matInput placeholder="libelle" [(ngModel)]="niveau2.libelle_al2" name="libelle_al2" required>
                                                    </mat-form-field>
                                                </div>
                            
                                                <div class="col-md-3">
                                                    <mat-form-field class="example-full-width">
                                                      
                                                      <mat-label >Niveau 1</mat-label>
                                                      <select  matNativeControl [(ngModel)]="niveau2.id_al1" name="id_al1" required>
                                                        <option *ngFor="let niveau1 of niveau1List" value="{{niveau1.id_al1}}">{{niveau1.libelle_al1}}</option>
                                                      </select>
                              
                                                    </mat-form-field>
                                                  </div>

                                            </div>
  
                                            <button mat-raised-button type="submit" class="btn btn-success pull-right" [disabled]=!niveau2Form.valid (click)="onSave()">Enregistrer</button>                                            
                                            <button mat-raised-button type="reset" class="btn btn-danger pull-right">Effacer</button>                                            
  
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <mat-label class="search-label">Recherche Globale</mat-label>
                        <input type="text" class="form-control inputRecherche" (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input><br>
                        <div class="table-responsive">
                              <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort class="table">

                                   <!-- Niveau2 Column -->
                                   <ng-container matColumnDef="id_al2">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                    <td mat-cell *matCellDef="let row"> {{row.id_al2}} </td>
                                  </ng-container>
                              
                                  <!-- Level Column -->
                                  <ng-container matColumnDef="libelle_al2">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> LIBELLET </th>
                                    <td mat-cell *matCellDef="let row"> {{row.libelle_al2}} </td>
                                  </ng-container>

                                  <!-- PAYS Column -->
                                  <ng-container matColumnDef="id_al1">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> NIVEAU 1 </th>
                                    <td mat-cell *matCellDef="let row"> {{row.id_al1}} </td>
                                  </ng-container>

                            
                                  <!-- Star Column -->
                                  <ng-container matColumnDef="star" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let row">
                                      <button mat-icon-button color="primary" [matMenuTriggerFor]="menuOption" aria-label="Option de la ligne selectionne">
                                        <mat-icon>more_vert</mat-icon>
                                      </button>
                                      <mat-menu #menuOption="matMenu">
                                        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#afficheModal" (click)="onEdite(row.id_al2)">
                                          <mat-icon>description</mat-icon>
                                          <span>Afficher</span>
                                        </button>
                                        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#myModal" (click)="onEdite(row.id_al2)">
                                          <mat-icon>app_registration</mat-icon>
                                          <span>Modifier</span>
                                        </button>
                                      </mat-menu>
                                    </td>
                                  </ng-container>
                              
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              
                                  <!-- Row shown when there is no matching data. -->
                                  <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                  </tr>
                                </table>
                              
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                              </div>
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  