<div class="main-content">
    <div class="container-fluid">
       <!-- Modal afficher animal -->
       <div class="modal fade" id="afficheModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content text-width" >
            <div class="modal-body">

              <div class="container">
                  <div class="row">
                    <div class="col" style="background-color: #e9ecef; padding: 10px;">
                      <h3 align="center">Detail</h3>
                    </div>
                  </div>
                
                  <!-- detail a afficher su un elements -->
                  <div class="row">
                    <div class="col" style="padding: 10px; font-size: large;">
                      <div class="row">
                        <div class="col-sm-4">Id ANIMAL</div>
                        <div class="col-sm-8">: {{ animalEdite.animalid }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">ID ANIMAL TYPE</div>
                        <div class="col-sm-8">: {{ animalEdite.animaltypeid }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">GENRE</div>
                        <div class="col-sm-8">: {{ animalEdite.gender }}</div>
                      </div>
                      
                      <div class="row">
                        <div class="col-sm-4">AGE</div>
                        <div class="col-sm-8">: {{ animalEdite.age }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">MIN</div>
                        <div class="col-sm-8">: {{ animalEdite.min }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">MAX</div>
                        <div class="col-sm-8">: {{ animalEdite.max }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">RACE FR</div>
                        <div class="col-sm-8">: {{ animalEdite.racefr }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">RACE EN</div>
                        <div class="col-sm-8">: {{ animalEdite.race_en }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">RACE GA</div>
                        <div class="col-sm-8">: {{ animalEdite.race_ga }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">RACE GO</div>
                        <div class="col-sm-8">: {{ animalEdite.race_go }}</div>
                      </div>
                      
                      <div class="row">
                        <div class="col-sm-4">RACE HA</div>
                        <div class="col-sm-8">: {{ animalEdite.race_ha }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">RACE JE</div>
                        <div class="col-sm-8">: {{ animalEdite.race_je }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">RACE MA</div>
                        <div class="col-sm-8">: {{ animalEdite.race_ma }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">RACE MO</div>
                        <div class="col-sm-8">: {{ animalEdite.race_mo }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">RACE PU</div>
                        <div class="col-sm-8">: {{ animalEdite.race_pu }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">RACE WO</div>
                        <div class="col-sm-8">: {{ animalEdite.race_wo }}</div>
                      </div>

                    </div>
                  </div>
                  
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" >OK</button>
            </div>
        </div>
        </div>
      </div>
    <!-- fin modal Afficher element -->

      <!-- Modal edit element -->
      <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Animal</h5>
            </div>
            <div class="modal-body">
                <form #animalEditeForm=ngForm>
                    <div class="row">
                        <div class="col-md-4" >
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Animal ID" [(ngModel)]="animalEdite.animalId" name="animalId" disabled>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4" >
                            <mat-form-field class="example-full-width"  >
                             
                                <mat-label >Animal Type</mat-label>
                                <select  matNativeControl [(ngModel)]="animalEdite.animaltypeid" name="animalTypeId" required>
                                  <option *ngFor="let animalType of animalTypeList" value="{{animalType.animaltypeid}}">{{animalType.name_FR}}</option>
                                </select>
                             
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field class="example-full-width"  >
                             
                                <mat-label >Genre</mat-label>

                                <select  matNativeControl [(ngModel)]="animalEdite.gender" name="genre" required>
                                  <option value="M">Mal </option>
                                  <option value="F">Femmel </option>
                                </select>
                             
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Age" [(ngModel)]="animalEdite.age" name="age" required>
                                </mat-form-field>
                            </div>
                        
                            <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Max" [(ngModel)]="animalEdite.max" name="max" required>
                                </mat-form-field>
                            </div>
                        
                            <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Min" [(ngModel)]="animalEdite.min" name="min" required>
                                </mat-form-field>
                            </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Race en FR" [(ngModel)]="animalEdite.racefr" name="raceFR" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Conformation en FR" [(ngModel)]="animalEdite.conformations_fr" name="confFR" required>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Race en EN" [(ngModel)]="animalEdite.race_en" name="raceEN" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Conformation en EN" [(ngModel)]="animalEdite.conformations_pt" name="confEN" required>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Race en PT" [(ngModel)]="animalEdite.race_pt" name="racePT" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Conformation en PT" [(ngModel)]="animalEdite.conformations_pt" name="confPT" required>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Race en AL" [(ngModel)]="animalEdite.race_al" name="raceAL" >
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Race en DI" [(ngModel)]="animalEdite.race_di" name="raceDI" >
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Race en GA" [(ngModel)]="animalEdite.race_ga" name="raceGA" >
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Race en GO" [(ngModel)]="animalEdite.race_go" name="raceGO" >
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Race en HA" [(ngModel)]="animalEdite.race_ha" name="raceHA" >
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Race en JE" [(ngModel)]="animalEdite.race_je" name="raceJE" >
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Race en MA" [(ngModel)]="animalEdite.race_ma" name="raceMA" >
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Race en MO" [(ngModel)]="animalEdite.race_mo" name="raceMO" >
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Race en PU" [(ngModel)]="animalEdite.race_pu" name="racePU" >
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Race en WO" [(ngModel)]="animalEdite.race_wo" name="raceWO" >
                            </mat-form-field>
                        </div>
                    </div>
                    
                </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" >Fermer</button>
            <button type="button" class="btn btn-primary" [disabled]=!animalEditeForm.valid (click)="onSaveEdite()" data-bs-toggle="modal" data-bs-target="#operationModal" data-bs-dismiss="modal">Modiffier</button>
          </div>
        </div>
        </div>
    </div>
    <!-- fin modal -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <h2 align="center" class="titre-tableau">FORMULAIRE PAYS</h2>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-10 boxRecherche">
                                <div class="row ">
                                    <div class="col">
                                        <form #animalForm=ngForm>
                                            <div class="row">
                                                <div class="col-md-4" >
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Animal ID" [(ngModel)]="animal.animalid" name="animalId">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-4" >
                                                    <mat-form-field class="example-full-width"  >
                                                     
                                                      <mat-label >Animal Type</mat-label>
                                                      <select  matNativeControl [(ngModel)]="animal.animaltypeid" name="animalTypeId" required>
                                                        <option *ngFor="let animalType of animalTypeList" value="{{animalType.animaltypeid}}">{{animalType.name_FR}}</option>
                                                      </select>
                                                     
                                                    </mat-form-field>
                                                </div>
                        
                                                <div class="col-md-4">
                                                    <mat-form-field class="example-full-width"  >
                                                     
                                                        <mat-label >Genre</mat-label>
                        
                                                        <select  matNativeControl [(ngModel)]="animal.gender" name="genre" required>
                                                          <option value="M">Mal </option>
                                                          <option value="F">Femmel </option>
                        
                                                        </select>
                                                     
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Age" [(ngModel)]="animal.age" name="age" required>
                                                        </mat-form-field>
                                                    </div>
                                                
                                                    <div class="col-md-4">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Max" [(ngModel)]="animal.max" name="max" required>
                                                        </mat-form-field>
                                                    </div>
                                                
                                                    <div class="col-md-4">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Min" [(ngModel)]="animal.min" name="min" required>
                                                        </mat-form-field>
                                                    </div>
                                            </div>
                        
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Race en FR" [(ngModel)]="animal.racefr" name="raceFR" required>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Conformation en FR" [(ngModel)]="animal.conformations_fr" name="confFR" required>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                        
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Race en EN" [(ngModel)]="animal.race_en" name="raceEN" required>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Conformation en EN" [(ngModel)]="animal.conformations_pt" name="confEN" required>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                        
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Race en PT" [(ngModel)]="animal.race_pt" name="racePT" required>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Conformation en PT" [(ngModel)]="animal.conformations_pt" name="confPT" required>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                        
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Race en AL" [(ngModel)]="animal.race_al" name="raceAL" >
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Race en DI" [(ngModel)]="animal.race_di" name="raceDI" >
                                                    </mat-form-field>
                                                </div>
                                            </div>
                        
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Race en GA" [(ngModel)]="animal.race_ga" name="raceGA" >
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Race en GO" [(ngModel)]="animal.race_go" name="raceGO" >
                                                    </mat-form-field>
                                                </div>
                                            </div>
                        
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Race en HA" [(ngModel)]="animal.race_ha" name="raceHA" >
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Race en JE" [(ngModel)]="animal.race_je" name="raceJE" >
                                                    </mat-form-field>
                                                </div>
                                            </div>
                        
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Race en MA" [(ngModel)]="animal.race_ma" name="raceMA" >
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Race en MO" [(ngModel)]="animal.race_mo" name="raceMO" >
                                                    </mat-form-field>
                                                </div>
                                            </div>
                        
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Race en PU" [(ngModel)]="animal.race_pu" name="racePU" >
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Race en WO" [(ngModel)]="animal.race_wo" name="raceWO" >
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <button mat-raised-button type="submit" class="btn btn-success pull-right" [disabled]=!animalForm.valid (click)="onSave()">Enregistrer</button>                                            
                                            <button mat-raised-button type="reset" class="btn btn-danger pull-right">Effacer</button>                                            

                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="card-body">
                        <mat-label class="search-label">Recherche Globale</mat-label>
                        <input type="text" class="form-control inputRecherche" (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input><br>
                        <div class="table-responsive">
                              <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort class="table">
                              
                                  <!-- ID Column -->
                                  <ng-container matColumnDef="animalid">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID-ANIMAL </th>
                                    <td mat-cell *matCellDef="let row"> {{row.animalid}} </td>
                                  </ng-container>
                              
                                  <!-- Pays Column -->
                                  <ng-container matColumnDef="animaltypeid">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ANIMAL-TYPE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.animaltypeid}} </td>
                                  </ng-container>
                              
                                  <!-- Capitale Column -->
                                  <ng-container matColumnDef="conformations_en">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CONFORMATION EN </th>
                                    <td mat-cell *matCellDef="let row"> {{row.conformations_en}} </td>
                                  </ng-container>
                              
                                  <!-- superficie Column -->
                                  <ng-container matColumnDef="conformations_fr">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> COMFORMATION FR </th>
                                    <td mat-cell *matCellDef="let row"> {{row.conformations_fr}} </td>
                                  </ng-container>

                                  <!-- Population Column -->
                                  <ng-container matColumnDef="conformations_pt">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CONFORMATION PT </th>
                                    <td mat-cell *matCellDef="let row"> {{row.conformations_pt}} </td>
                                  </ng-container>

                                  <!-- Indicatif Column -->
                                  <ng-container matColumnDef="gender">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> GENRE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
                                  </ng-container>

                                   <!-- Indicatif Column -->
                                   <ng-container matColumnDef="age">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> AGE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.age}} </td>
                                  </ng-container>

                                  <!-- Devise Column -->
                                  <ng-container matColumnDef="max">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> MAX </th>
                                    <td mat-cell *matCellDef="let row"> {{row.max}} </td>
                                  </ng-container>

                                  <!-- Langue Column -->
                                  <ng-container matColumnDef="min">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> MIN </th>
                                    <td mat-cell *matCellDef="let row"> {{row.min}} </td>
                                  </ng-container>

                                  <!-- ID Column -->
                                  <ng-container matColumnDef="racefr">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RACE FR </th>
                                    <td mat-cell *matCellDef="let row"> {{row.racefr}} </td>
                                  </ng-container>
                              
                                  <!-- Pays Column -->
                                  <ng-container matColumnDef="race_en">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RACE EN </th>
                                    <td mat-cell *matCellDef="let row"> {{row.race_en}} </td>
                                  </ng-container>
                              
                                  <!-- Capitale Column -->
                                  <ng-container matColumnDef="race_pt">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RACE PT </th>
                                    <td mat-cell *matCellDef="let row"> {{row.race_pt}} </td>
                                  </ng-container>
                              
                                  <!-- superficie Column -->
                                  <ng-container matColumnDef="race_al">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RACE AL </th>
                                    <td mat-cell *matCellDef="let row"> {{row.race_al}} </td>
                                  </ng-container>

                                  <!-- Population Column -->
                                  <ng-container matColumnDef="race_di">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RACE DI </th>
                                    <td mat-cell *matCellDef="let row"> {{row.race_di}} </td>
                                  </ng-container>

                                  <!-- Indicatif Column -->
                                  <ng-container matColumnDef="race_ga">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RACE GA </th>
                                    <td mat-cell *matCellDef="let row"> {{row.race_ga}} </td>
                                  </ng-container>

                                  <!-- Devise Column -->
                                  <ng-container matColumnDef="race_go">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RACE GO </th>
                                    <td mat-cell *matCellDef="let row"> {{row.race_go}} </td>
                                  </ng-container>

                                  <!-- Langue Column -->
                                  <ng-container matColumnDef="race_ha">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RACE HA </th>
                                    <td mat-cell *matCellDef="let row"> {{row.race_ha}} </td>
                                  </ng-container>

                                  <!-- ID Column -->
                                  <ng-container matColumnDef="race_je">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RACE JE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.race_je}} </td>
                                  </ng-container>
                              
                                  <!-- Pays Column -->
                                  <ng-container matColumnDef="race_ma">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RACE MA </th>
                                    <td mat-cell *matCellDef="let row"> {{row.race_ma}} </td>
                                  </ng-container>
                              
                                  <!-- Capitale Column -->
                                  <ng-container matColumnDef="race_mo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RACE MO </th>
                                    <td mat-cell *matCellDef="let row"> {{row.race_mo}} </td>
                                  </ng-container>
                              
                                  <!-- superficie Column -->
                                  <ng-container matColumnDef="race_pu">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RACE PU </th>
                                    <td mat-cell *matCellDef="let row"> {{row.race_pu}} </td>
                                  </ng-container>

                                  <!-- Population Column -->
                                  <ng-container matColumnDef="race_wo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RACE WO </th>
                                    <td mat-cell *matCellDef="let row"> {{row.race_wo}} </td>
                                  </ng-container>

                                  <!-- Population Column -->
                                  <ng-container matColumnDef="active">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
                                    <td mat-cell *matCellDef="let row"> {{row.active}} </td>
                                  </ng-container>

                                  <!-- Star Column -->
                                  <ng-container matColumnDef="star" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let row">
                                      <button mat-icon-button color="primary" [matMenuTriggerFor]="menuOption" aria-label="Option de la ligne selectionne">
                                        <mat-icon>more_vert</mat-icon>
                                      </button>
                                      <mat-menu #menuOption="matMenu">
                                        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#afficheModal" (click)="onEdite(row.animalid)">
                                          <mat-icon>description</mat-icon>
                                          <span>Afficher</span>
                                        </button>
                                        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#myModal" (click)="onEdite(row.animalid)">
                                          <mat-icon>app_registration</mat-icon>
                                          <span>Modifier</span>
                                        </button>
                                      </mat-menu>
                                    </td>
                                  </ng-container>
                              
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              
                                  <!-- Row shown when there is no matching data. -->
                                  <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                  </tr>
                                </table>
                              
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                              </div>
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  