<div class="main-content">
    <div class="container-fluid">
       <!-- Modal afficher acteur -->
       <div class="modal fade" id="afficheModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content text-width" >
            <div class="modal-body">

              <div class="container">
                  <div class="row">
                    <div class="col" style="background-color: #e9ecef; padding: 10px;">
                      <h3 align="center">Detail</h3>
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col" style="padding: 10px; font-size: large;">
                      <div class="row">
                        <div class="col-sm-4">Id ACTEUR</div>
                        <div class="col-sm-8">: {{ acteurEdite.id_acteur }}</div>
                      </div>
                      
                      <div class="row">
                        <div class="col-sm-4">TYPE-SIM</div>
                        <div class="col-sm-8">: {{ acteurEdite.sim_type }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">NOM</div>
                        <div class="col-sm-8">: {{ acteurEdite.nomacteur }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">PRENOM</div>
                        <div class="col-sm-8">: {{ acteurEdite.prenom_acteur }}</div>
                      </div>
                      
                      <div class="row">
                        <div class="col-sm-4">SEXE</div>
                        <div class="col-sm-8">: {{ acteurEdite.sexe }}</div>
                      </div>
                      
                      <div class="row">
                        <div class="col-sm-4">PAYS</div>
                        <div class="col-sm-8">: {{ acteurEdite.nationalite }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">TELEPHONE 1</div>
                        <div class="col-sm-8">: {{ acteurEdite.tel_acteur }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">TELEPHONE 2</div>
                        <div class="col-sm-8">: {{ acteurEdite.phone2 }}</div>
                      </div>
                      
                      <div class="row">
                        <div class="col-sm-4">TELEPHONE 3</div>
                        <div class="col-sm-8">: {{ acteurEdite.phone3 }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">COORD-X</div>
                        <div class="col-sm-8">: {{ acteurEdite.coordx }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">COORD-Y</div>
                        <div class="col-sm-8">: {{ acteurEdite.coordy }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">ASSOCIATION</div>
                        <div class="col-sm-8">: {{ acteurEdite.id_assoc }}</div>
                      </div>

                    </div>
                  </div>
                  
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" >OK</button>
            </div>
        </div>
        </div>
      </div>
    <!-- fin modal Afficher element -->

      <!-- Modal edit element -->
      <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">GESTION DES ACTEURS</h5>
            </div>
            <div class="modal-body">
              <form #acteurEditeForm=ngForm>
                  <div class="row">
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="ID " [(ngModel)]="acteurEdite.id_acteur" name="id_acteur" required>
                          </mat-form-field>
                      </div>

                      <div class="col-md-4">
                        <mat-form-field class="example-full-width"  >
     
                          <mat-label >Pays</mat-label>

                          <select  matNativeControl [(ngModel)]="acteurEdite.nationalite" name="nationalite" required>
                            <option value=""></option>
                            <option *ngFor="let pays of paysList" value="{{pays.id}}">{{pays.nom_pays}}</option>
                          </select>
                       
                        </mat-form-field>
                      </div>

                      <div class="col-md-4">
                        <mat-form-field class="example-full-width"  >
     
                          <mat-label >Type SIM</mat-label>

                          <select  matNativeControl [(ngModel)]="acteurEdite.sim_type" name="sim_type" required>
                            <option value=""></option>
                            <option value="A">SIM A</option>
                            <option value="B">SIM B</option>
                            <option value="P">SIM P</option>
                          </select>
                       
                        </mat-form-field>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Nom " [(ngModel)]="acteurEdite.nomacteur" name="nomacteur" required>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Description " [(ngModel)]="acteurEdite.prenom_acteur" name="prenom_acteur" required>
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field class="example-full-width"  >
     
                          <mat-label >Sexe</mat-label>

                          <select  matNativeControl [(ngModel)]="acteurEdite.sexe" name="sexe"required>
                            <option value=""></option>
                            <option value="M">Homme</option>
                            <option value="F">Femme</option>
                          </select>
                        
                        </mat-form-field>
                      </div>
                  </div>
                
                  <div class="row">
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Telephone 1" [(ngModel)]="acteurEdite.tel_acteur" name="tel_acteur" required>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Telephone 2" [(ngModel)]="acteurEdite.phone2" name="phone2" required>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Telephone 3" [(ngModel)]="acteurEdite.phone3" name="phone3" required>
                        </mat-form-field>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width"  >
   
                        <mat-label >Association</mat-label>

                        <select  matNativeControl [(ngModel)]="acteurEdite.id_assoc" name="id_assoc"required>
                          <option value=""></option>
                          <option *ngFor="let association of associationList" value="{{association.id_assoc}}">{{association.nom_assoc}}</option>
                        </select>
                      
                      </mat-form-field>
                    </div>
                  </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" >Fermer</button>
            <button type="button" class="btn btn-primary" [disabled]=!acteurEditeForm.valid (click)="onSaveEdite()" data-bs-toggle="modal" data-bs-target="#operationModal" data-bs-dismiss="modal">Modiffier</button>
          </div>
        </div>
        </div>
    </div>
    <!-- fin modal -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <h2 align="center" class="titre-tableau">FORMULAIRE ACTEUR</h2>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-10 boxRecherche">
                                <div class="row ">
                                    <div class="col">
                                        <form #acteurForm=ngForm>
                                          <div class="row">
                                            <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="ID " [(ngModel)]="acteur.id_acteur" name="id_acteur" required>
                                                </mat-form-field>
                                            </div>
                      
                                            <div class="col-md-4">
                                              <mat-form-field class="example-full-width"  >
                          
                                                <mat-label >Pays</mat-label>
                      
                                                <select  matNativeControl [(ngModel)]="acteur.nationalite" name="nationalite" required>
                                                  <option value=""></option>
                                                  <option *ngFor="let pays of paysList" value="{{pays.id}}">{{pays.nom_pays}}</option>
                                                </select>
                                            
                                              </mat-form-field>
                                            </div>
                      
                                            <div class="col-md-4">
                                              <mat-form-field class="example-full-width"  >
                          
                                                <mat-label >Type SIM</mat-label>
                      
                                                <select  matNativeControl [(ngModel)]="acteur.sim_type" name="sim_type" required>
                                                  <option value=""></option>
                                                  <option value="A">SIM A</option>
                                                  <option value="B">SIM B</option>
                                                  <option value="P">SIM P</option>
                                                </select>
                                            
                                              </mat-form-field>
                                            </div>
                                      </div>
                    
                                      <div class="row">
                                          <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                              <input matInput placeholder="Nom " [(ngModel)]="acteur.nomacteur" name="nomacteur" required>
                                            </mat-form-field>
                                          </div>
                                          <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                              <input matInput placeholder="Description " [(ngModel)]="acteur.prenom_acteur" name="prenom_acteur" required>
                                            </mat-form-field>
                                          </div>
                                          <div class="col-md-2">
                                            <mat-form-field class="example-full-width"  >
                         
                                              <mat-label >Sexe</mat-label>
                    
                                              <select  matNativeControl [(ngModel)]="acteur.sexe" name="sexe"required>
                                                <option value=""></option>
                                                <option value="M">Homme</option>
                                                <option value="F">Femme</option>
                                              </select>
                                            
                                            </mat-form-field>
                                          </div>
                                      </div>
                                    
                                      <div class="row">
                                          <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                              <input matInput placeholder="Telephone 1" [(ngModel)]="acteur.tel_acteur" name="tel_acteur" required>
                                            </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                              <input matInput placeholder="Telephone 2" [(ngModel)]="acteur.phone2" name="phone2" required>
                                            </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                              <input matInput placeholder="Telephone 3" [(ngModel)]="acteur.phone3" name="phone3" required>
                                            </mat-form-field>
                                          </div>
                                      </div>
                    
                                      <div class="row">
                                        <div class="col-md-6">
                                          <mat-form-field class="example-full-width"  >
                       
                                            <mat-label >Association</mat-label>
                    
                                            <select  matNativeControl [(ngModel)]="acteur.id_assoc" name="id_assoc"required>
                                              <option value=""></option>
                                              <option *ngFor="let association of associationList" value="{{association.id_assoc}}">{{association.nom_assoc}}</option>
                                            </select>
                                          
                                          </mat-form-field>
                                        </div>
                                      </div>
                                            
                                            <button mat-raised-button type="submit" class="btn btn-success pull-right" [disabled]=!acteurForm.valid (click)="onSave()">Enregistrer</button>                                            
                                            <button mat-raised-button type="reset" class="btn btn-danger pull-right">Effacer</button>                                            

                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="card-body">
                        <mat-label class="search-label">Recherche Globale</mat-label>
                        <input type="text" class="form-control inputRecherche" (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input><br>
                        <div class="table-responsive">
                              <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort class="table">
                              
                                  <!-- ID Column -->
                                  <ng-container matColumnDef="id_acteur">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID-ACTEUR </th>
                                    <td mat-cell *matCellDef="let row"> {{row.id_acteur}} </td>
                                  </ng-container>

                                  <!-- ID Column -->
                                  <ng-container matColumnDef="sim_type">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SIM-TYPE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.sim_type}} </td>
                                  </ng-container>
                              
                                  <!-- Capitale Column -->
                                  <ng-container matColumnDef="nomacteur">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> NOM </th>
                                    <td mat-cell *matCellDef="let row"> {{row.nomacteur}} </td>
                                  </ng-container>
                              
                                  <!-- superficie Column -->
                                  <ng-container matColumnDef="prenom_acteur">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PRENOM(S) </th>
                                    <td mat-cell *matCellDef="let row"> {{row.prenom_acteur}} </td>
                                  </ng-container>

                                  <!-- Population Column -->
                                  <ng-container matColumnDef="sexe">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SEXE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.sexe}} </td>
                                  </ng-container>

                                  <!-- Pays Column -->
                                  <ng-container matColumnDef="nationalite">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PAYS </th>
                                    <td mat-cell *matCellDef="let row"> {{row.nationalite}} </td>
                                  </ng-container>

                                  <!-- Indicatif Column -->
                                  <ng-container matColumnDef="tel_acteur">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TELEPHONE 1 </th>
                                    <td mat-cell *matCellDef="let row"> {{row.tel_acteur}} </td>
                                  </ng-container>

                                  <!-- Devise Column -->
                                  <ng-container matColumnDef="phone2">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TELEPHONE 2 </th>
                                    <td mat-cell *matCellDef="let row"> {{row.phone2}} </td>
                                  </ng-container>

                                  <!-- Acteur Column -->
                                  <ng-container matColumnDef="phone3">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TELEPHONE 3 </th>
                                    <td mat-cell *matCellDef="let row"> {{row.phone3}} </td>
                                  </ng-container>

                                  <!-- Acteur Column -->
                                  <ng-container matColumnDef="coordx">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> COORD-X </th>
                                    <td mat-cell *matCellDef="let row"> {{row.coordx}} </td>
                                  </ng-container>

                                  <!-- Acteur Column -->
                                  <ng-container matColumnDef="coordy">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> COORD-Y </th>
                                    <td mat-cell *matCellDef="let row"> {{row.coordy}} </td>
                                  </ng-container>


                                  <!-- Pays Column -->
                                  <ng-container matColumnDef="id_assoc">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ASSOCIATION </th>
                                    <td mat-cell *matCellDef="let row"> {{row.id_assoc}} </td>
                                  </ng-container>

                                  <!-- Star Column -->
                                  <ng-container matColumnDef="star" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let row">
                                      <button mat-icon-button color="primary" [matMenuTriggerFor]="menuOption" aria-label="Option de la ligne selectionne">
                                        <mat-icon>more_vert</mat-icon>
                                      </button>
                                      <mat-menu #menuOption="matMenu">
                                        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#afficheModal" (click)="onEdite(row.id_acteur)">
                                          <mat-icon>description</mat-icon>
                                          <span>Afficher</span>
                                        </button>
                                        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#myModal" (click)="onEdite(row.id_acteur)">
                                          <mat-icon>app_registration</mat-icon>
                                          <span>Modifier</span>
                                        </button>
                                      </mat-menu>
                                    </td>
                                  </ng-container>
                              
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              
                                  <!-- Row shown when there is no matching data. -->
                                  <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                  </tr>
                                </table>
                              
                                <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                              </div>
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  