table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
  
td, th {
    width: 25%;
}

th {
    background-color: rgb(253, 38, 38);
    color: white;
}

tr:hover{
    background-color: #f0f0f0;
}

.boxRecherche{
    padding: 25px;
    font-size: 1.9em;
    background-color: white;
    color: black;
}

.inputRecherche{
    width: 60%;
}

.titre-tableau{
    font-size: x-large;
    font-style: bold;
}

.search-label{
    font-size: 1.7em;
}