<div class="main-content">
    <div class="container-fluid">
       <!-- Modal afficher association -->
       <div class="modal fade" id="afficheModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content text-width" >
            <div class="modal-body">

              <div class="container">
                  <div class="row">
                    <div class="col" style="background-color: #e9ecef; padding: 10px;">
                      <h3 align="center">Detail</h3>
                    </div>
                  </div>
                
                  <!-- detail a afficher su un elements -->
                  <div class="row">
                    <div class="col" style="padding: 10px; font-size: large;">
                      <div class="row">
                        <div class="col-sm-4">Id ASSOCIATION</div>
                        <div class="col-sm-8">: {{ associationEdite.id }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">ID SIGLE</div>
                        <div class="col-sm-8">: {{ associationEdite.cigle }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">E-MAIL</div>
                        <div class="col-sm-8">: {{ associationEdite.email }}</div>
                      </div>
                      
                      <div class="row">
                        <div class="col-sm-4">PAYS</div>
                        <div class="col-sm-8">: {{ associationEdite.codepays }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">: {{ associationEdite.datemaj }}</div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">: {{ associationEdite.opmaj }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">MAX</div>
                        <div class="col-sm-8">: {{ associationEdite.opcre }}</div>
                      </div>
      
                      <div class="row">
                        <div class="col-sm-4">RACE FR</div>
                        <div class="col-sm-8">: {{ associationEdite.datecre }}</div>
                      </div>
      
                    </div>
                  </div>
                  
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" >OK</button>
            </div>
        </div>
        </div>
      </div>
    <!-- fin modal Afficher element -->

      <!-- Modal edit element -->
      <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Association</h5>
            </div>
            <div class="modal-body">
                <form #associationEditeForm=ngForm>
                  <div class="row">
                    <div class="col-md-4" >
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Association ID" [(ngModel)]="associationEdite.id_assoc" name="id_assoc">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4" >
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Sigle" [(ngModel)]="associationEdite.cigle" name="cigle">
                        </mat-form-field>
                    </div>
                </div>
                
                <div class="row">
                  
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nom Association" [(ngModel)]="associationEdite.nom_assoc" name="nom_assoc" required>
                      </mat-form-field>
                  </div>

                  <div class="col-md-4">
                    <mat-form-field class="example-full-width"  >
 
                      <mat-label >Pays</mat-label>

                      <select  matNativeControl [(ngModel)]="associationEdite.codepays" name="codepays" required>
                        <option *ngFor="let pays of paysList" value="{{pays.cigle}}">{{pays.nom_pays}}</option>
                      </select>
                   
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Responssable" [(ngModel)]="associationEdite.responsable" name="responssable" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="telephone" [(ngModel)]="associationEdite.telephone" name="telephone" required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="email" [(ngModel)]="associationEdite.email" name="email" required>
                      </mat-form-field>
                  </div>
                  
                </div>
                    
                </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" >Fermer</button>
            <button type="button" class="btn btn-primary" [disabled]=!associationEditeForm.valid (click)="onSaveEdite()" data-bs-toggle="modal" data-bs-target="#operationModal" data-bs-dismiss="modal">Modiffier</button>
          </div>
        </div>
        </div>
    </div>
    <!-- fin modal -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <h2 align="center" class="titre-tableau">FORMULAIRE PAYS</h2>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-10 boxRecherche">
                                <div class="row ">
                                    <div class="col">
                                        <form #associationForm=ngForm>
                                            <div class="row">
                                                <div class="col-md-4" >
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Association ID" [(ngModel)]="association.id_assoc" name="id_assoc">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-4" >
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Sigle" [(ngModel)]="association.cigle" name="cigle">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                              
                                              <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Nom Association" [(ngModel)]="association.nom_assoc" name="nom_assoc" required>
                                                  </mat-form-field>
                                              </div>

                                              <div class="col-md-4">
                                                <mat-form-field class="example-full-width"  >
                             
                                                  <mat-label >Pays</mat-label>
                  
                                                  <select  matNativeControl [(ngModel)]="association.codepays" name="codepays" required>
                                                    <option *ngFor="let pays of paysList" value="{{pays.cigle}}">{{pays.nom_pays}}</option>
                                                  </select>
                                               
                                                </mat-form-field>
                                              </div>
                                            </div>
                        
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Responssable" [(ngModel)]="association.responsable" name="responssable" required>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-4">
                                                  <mat-form-field class="example-full-width">
                                                      <input matInput placeholder="telephone" [(ngModel)]="association.telephone" name="telephone" required>
                                                  </mat-form-field>
                                                </div>
                                                <div class="col-md-4">
                                                  <mat-form-field class="example-full-width">
                                                      <input matInput placeholder="email" [(ngModel)]="association.email" name="email" required>
                                                  </mat-form-field>
                                              </div>
                                              
                                            </div>
                        
                                            <!-- <div class="row">
                                              <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Date Creation" [(ngModel)]="association.datecre" name="datecre" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Operateur" [(ngModel)]="association.opcre" name="opcre" required>
                                              </mat-form-field>
                                          </div>
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Race en EN" [(ngModel)]="association.datemaj" name="raceEN" required>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Conformation en EN" [(ngModel)]="association.telephone" name="confEN" required>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                        
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Race en PT" [(ngModel)]="association.race_pt" name="racePT" required>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Conformation en PT" [(ngModel)]="association.telephone" name="confPT" required>
                                                    </mat-form-field>
                                                </div>
                                            </div> -->

                                            <button mat-raised-button type="submit" class="btn btn-success pull-right" [disabled]=!associationForm.valid (click)="onSave()">Enregistrer</button>                                            
                                            <button mat-raised-button type="reset" class="btn btn-danger pull-right">Effacer</button>                                            

                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="card-body">
                        <mat-label class="search-label">Recherche Globale</mat-label>
                        <input type="text" class="form-control inputRecherche" (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input><br>
                        <div class="table-responsive">
                              <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort class="table">
                              
                                  <!-- ID Column -->
                                  <ng-container matColumnDef="id_assoc">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID-ASSOCIATION </th>
                                    <td mat-cell *matCellDef="let row"> {{row.id_assoc}} </td>
                                  </ng-container>
                              
                                  <!-- Pays Column -->
                                  <ng-container matColumnDef="cigle">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SIGLE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.cigle}} </td>
                                  </ng-container>
                              
                                  <!-- Capitale Column -->
                                  <ng-container matColumnDef="nom_assoc">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DESIGNATION </th>
                                    <td mat-cell *matCellDef="let row"> {{row.nom_assoc}} </td>
                                  </ng-container>
                              
                                  <!-- superficie Column -->
                                  <ng-container matColumnDef="responsable">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RESPONSSABLE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.responsable}} </td>
                                  </ng-container>

                                  <!-- Population Column -->
                                  <ng-container matColumnDef="telephone">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TELEPHONE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.telephone}} </td>
                                  </ng-container>

                                  <!-- Indicatif Column -->
                                  <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> E-MAIL </th>
                                    <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                                  </ng-container>

                                   <!-- Indicatif Column -->
                                   <ng-container matColumnDef="codepays">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PAYS </th>
                                    <td mat-cell *matCellDef="let row"> {{row.codepays}} </td>
                                  </ng-container>

                                  <!-- Devise Column -->
                                  <ng-container matColumnDef="opcre">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> OPERATEUR CRE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.opcre}} </td>
                                  </ng-container>

                                  <!-- Langue Column -->
                                  <ng-container matColumnDef="opmaj">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> OPERATEUR MAJ </th>
                                    <td mat-cell *matCellDef="let row"> {{row.opmaj}} </td>
                                  </ng-container>

                                  <!-- ID Column -->
                                  <ng-container matColumnDef="datecre">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE CRE </th>
                                    <td mat-cell *matCellDef="let row"> {{row.datecre}} </td>
                                  </ng-container>
                              
                                  <!-- Pays Column -->
                                  <ng-container matColumnDef="datemaj">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE Maj </th>
                                    <td mat-cell *matCellDef="let row"> {{row.datemaj}} </td>
                                  </ng-container>
                              

                                  <!-- Star Column -->
                                  <ng-container matColumnDef="star" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let row">
                                      <button mat-icon-button color="primary" [matMenuTriggerFor]="menuOption" aria-label="Option de la ligne selectionne">
                                        <mat-icon>more_vert</mat-icon>
                                      </button>
                                      <mat-menu #menuOption="matMenu">
                                        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#afficheModal" (click)="onEdite(row.id_assoc)">
                                          <mat-icon>description</mat-icon>
                                          <span>Afficher</span>
                                        </button>
                                        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#myModal" (click)="onEdite(row.id_assoc)">
                                          <mat-icon>app_registration</mat-icon>
                                          <span>Modifier</span>
                                        </button>
                                      </mat-menu>
                                    </td>
                                  </ng-container>
                              
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              
                                  <!-- Row shown when there is no matching data. -->
                                  <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                  </tr>
                                </table>
                              
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                              </div>
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  