
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <h2 align="center" class="titre-tableau">Questionnaire Q2</h2>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                      <div class="row justify-content-center">
                        <div class="col-md-10 boxRecherche">
                          <div class="row ">
                            <div class="col">
                                <form #q2Form=ngForm>

                                    <div class="row">
                                        <div class="col-md-3">
                                          <mat-form-field class="example-full-width">
                                              <input matInput placeholder="Id SIM " [(ngModel)]="q2.collecteID" name="collecteID" required>
                                            </mat-form-field>
                                        </div>
                                        
                                        <div class="col-md-4">
                                          <mat-form-field class="example-full-width"  >
                      
                                            <mat-label >Animal</mat-label>

                                            <select  matNativeControl [(ngModel)]="q2.AnimalID" name="AnimalID" required>
                                              <option value=""></option>
                                              <option *ngFor="let animal of animalList" value="{{animal.id}}">{{animal.racefr}}</option>
                                            </select>
                                        
                                          </mat-form-field>
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                              <mat-label >Genre</mat-label>
                                              <select  matNativeControl [(ngModel)]="q2.gender" name="gender" required>
                                                <option value=""></option>
                                                <option value="M">Mal</option>
                                                <option value="F">Femelle</option>
                                              </select>
                                            </mat-form-field>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-md-6">
                                          <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Description" [(ngModel)]="q2.description" name="description" required>
                                          </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                          <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Poste" [(ngModel)]="q2.posteID" name="posteID" required>
                                          </mat-form-field>
                                        </div>
                                    </div>
                                  
                                    <div class="row">
                                        <div class="col-md-4">
                                          <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Presentes" type="text" [(ngModel)]="q2.presentes" name="presentes" required>
                                          </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                          <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Vendus" type="text" [(ngModel)]="q2.vendus" name="vendus" required>
                                          </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                          <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Exportes Pied" type="text" [(ngModel)]="q2.exportes_pieds" name="exportes_pieds" required>
                                          </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Exportes Voiture" type="text" [(ngModel)]="q2.exportes_voiture" name="exportes_voiture" >
                                        </mat-form-field>
                                      </div>

                                      <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="fraisconpieds" type="text" [(ngModel)]="q2.fraisconpieds" name="fraisconpieds" required>
                                        </mat-form-field>
                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Exportes Voiture" type="text" [(ngModel)]="q2.fraisconveh" name="fraisconveh" >
                                        </mat-form-field>
                                      </div>

                                      <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                          <mat-label >appro marche</mat-label>
                                          <select  matNativeControl [(ngModel)]="q2.appro_marche" name="appro_marche" required>
                                            <option value=""></option>
                                            <option value="Bon">Bon</option>
                                            <option value="Moyen">Moyen</option>
                                            <option value="Faible">Faible</option>
                                          </select>
                                        </mat-form-field>
                                      </div>

                                      <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Date collecte" type="date" [(ngModel)]="q2.DATECRE" name="DATECRE" >
                                        </mat-form-field>
                                      </div>
                                    </div>
                                      
                                    <button mat-raised-button type="submit" class="btn btn-success pull-right" [disabled]=!q2Form.valid (click)="onSave()">Enregistrer</button>                                            
                                    <button mat-raised-button type="reset" class="btn btn-danger pull-right">Effacer</button>                                            

                                </form>
                            </div>
                        </div>
                            
                        </div>
                      </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  