<div class="main-content">
    <div class="container-fluid">
      <!-- Modal edit element -->
      <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Partenaire</h5>
            </div>
            <div class="modal-body">
              <form #partenaireEditeForm=ngForm>
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="ID" [(ngModel)]="partenaireEdite.id" name="id" disabled>
                      </mat-form-field>
                  </div>
                  <div class="col-md-5">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nom" [(ngModel)]="partenaireEdite.name" name="nameop" required>
                      </mat-form-field>
                  </div>
                  <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Link" [(ngModel)]="partenaireEdite.link" name="link" required>
                      </mat-form-field>
                  </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Logo" [(ngModel)]="partenaireEdite.logo" name="logo" required>
                    </mat-form-field>
                </div>
            </div>
                
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" >Fermer</button>
            <button type="button" class="btn btn-primary" [disabled]=!partenaireEditeForm.valid (click)="onSaveEdite()" data-bs-toggle="modal" data-bs-target="#operationModal" data-bs-dismiss="modal">Modiffier</button>
          </div>
        </div>
        </div>
    </div>
    <!-- fin modal -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <h2 align="center" class="titre-tableau">FORMULAIRE ALERTE TYPE</h2>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-10 boxRecherche">
                                <div class="row ">
                                    <div class="col">
                                      <form #partenaireForm=ngForm>
                                        <div class="row">
                                            <div class="col-md-3">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="ID" [(ngModel)]="partenaire.id" name="id" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-5">
                                                <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Nom" [(ngModel)]="partenaire.name" name="nameop" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Link" [(ngModel)]="partenaire.link" name="link" required>
                                                </mat-form-field>
                                            </div>
                                        </div>
                          
                                        <div class="row">
                                          <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Logo" [(ngModel)]="partenaire.logo" name="logo" required>
                                              </mat-form-field>
                                          </div>
                                      </div>

                                          <button mat-raised-button type="submit" class="btn btn-success pull-right" [disabled]=!partenaireForm.valid (click)="onSave()">Enregistrer</button>                                            
                                          <button mat-raised-button type="reset" class="btn btn-danger pull-right">Effacer</button>                                            

                                      </form>
                                  </div>
                              </div>
                                
                          </div>
                      </div>
                </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4" *ngFor="let partnaire of partenaireList">
                                <div class="card card-stats">
                                    <div class="card-header card-header-info card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">
                                                maps_home_work
                                              </i>
                                        </div>
                                        <h3 class="card-title">Partenaire</h3>
                                        <h4 class="card-title">{{partnaire.name}}</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <div class="row justify-content-center">
                                              <div class="col-6">
                                                <button mat-raised-button data-bs-toggle="modal" data-bs-target="#myModal" (click)="onEdite(partnaire.id)">
                                                    <i class="material-icons">
                                                        app_registration
                                                    </i>
                                                </button>
                                              </div>
                                              <div class="col-6">
                                                Mise a jours : {{ partnaire.lastupdate }}
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
  </div>
</div>
  